html,body{
    font-size:100%;
    overflow-x:hidden;
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Poppins;
    color:rgb(230, 230, 247);
    background: rgb(11, 11, 58);
}

ul,li{
    list-style-type:none;
}

a{
    text-decoration:none;
}

.container {
    width:1200px;
    margin:auto;
}

header{
    height: 80px;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}

header > .container .logo{
    font-weight:900;
    font-size: 20px;
    color:rgb(230, 230, 247);
}

header > .container nav ul{
    display:flex;
    align-items:center;
    justify-content: center;
}

header > .container nav ul li{
    margin-right:30px;
    font-size:14px;
}

header > .container nav ul li a {
    color:rgb(230, 230, 247);
    font-weight:500;
}

header > .container nav ul li.active a,
header > .container nav ul li a:hover,
header > .container >div > div:hover{
    color:rgb(152, 152, 250);
}

header > .container nav ul li.active a{
    font-weight: 600;
}

header > .container nav ul li:last-child{
    margin-right:0px;
}

header .container > div{
    display:flex;
    align-items:center;
    justify-content: center;
}

header .container > div > div{
    padding:7px;
    cursor:pointer
}
header .container > div > div.basket{
    margin-right:10px;
}

/*main*/

main .container article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:calc(100vh - 200px);
}

main .container article .product-infos{
    width:50%;
 }

main .container article .product-infos h2{
    font-size: 90px;
    line-height:1.1;
    margin-bottom:-10px;
    margin-top:0;
}

main .container article .product-infos .price{
    font-size: 25px;
    font-weight: 800;
    margin-top:50px;
    margin-bottom:15px;
}

main .container article .product-infos .action button{
    appearance: none;
    border:2px solid rgb(230, 230, 247);
    background-color: transparent;
    padding:12px 20px;
    font-size:100%;
    color:rgb(211, 211, 245);
    cursor:pointer;
    position:relative;
    transition:.3s;
}

main .container article .product-infos .action button:hover{
    background-color: rgb(230, 230, 247);
    color:rgb(4, 4, 98) ;
}

main .container article .product-infos .action button+button{
    margin-left:20px;
}